REACT_APP_WEB3_GNOSIS_PROVIDER_URL=https://rpc.gnosischain.com/
REACT_APP_WEB3_MAINNET_PROVIDER_URL=https://eth.llamarpc.com/
REACT_APP_WEB3_POLYGON_PROVIDER_URL=https://polygon-pokt.nodies.app
# Hex string with 32 characters
REACT_APP_GRAPHQL_TOKEN='123456abcdef123456abcdef123456ab'
REACT_APP_SUBGRAPH_MAINNET=https://gateway.thegraph.com/api/subgraphs/id/ECENsJRfqi6Mwj6kF9diShPzFKkgyyo79aSCkSwAShHL
REACT_APP_SUBGRAPH_GNOSIS=https://gateway.thegraph.com/api/subgraphs/id/Ck26N16xgimEuuuNSJqYVWBKcWSwPmkk36BWZGtfx1ox